Debug/
Release/
build/

doc/README.md~
doc/doxyfile~
.gitignore~

doc/html/
doc/latex/

osc_tester.log

Plot/

.qmake.*
*~

CMakeCache.txt
CMakeFiles/
GLOOO_synth
Makefile
cmake_install.cmake
debug_outputs/


*.pyc
